<!DOCTYPE html>
<html>
<head>
    <title>Problem Rush</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
        theme: {
            extend: {
            animation: {
                fadeIn: "fadeIn 0.8s ease-out forwards"
            },
            keyframes: {
                fadeIn: {
                "0%": { opacity: "0", transform: "translateY(10px)" },
                "100%": { opacity: "1", transform: "translateY(0)" }
                }
            }
            }
        }
        }
        </script>

</head>

<body class="min-h-screen bg-gradient-to-br from-slate-950 via-slate-900 to-black text-white">

    <!-- Top Navigation -->
    {% if session.get('team_id') %}
    <div class="max-w-6xl mx-auto px-10 py-6 flex justify-between items-center">

        <div>
            <h1 class="text-xl font-semibold text-amber-400">
                PROBLEM RUSH
            </h1>
            <p class="text-sm text-slate-400">
                Operative: {{ current_team.team_name }}
            </p>
        </div>

        <div class="space-x-6 text-sm">
            <a href="{{ url_for('team.dashboard') }}"
               class="text-slate-400 hover:text-amber-400 transition">
                Dashboard
            </a>

            <a href="{{ url_for('team.logout') }}"
               class="text-slate-400 hover:text-red-400 transition">
                Logout →
            </a>
        </div>

    </div>
    {% endif %}

    <div class="max-w-6xl mx-auto px-10 py-8">
        {% block content %}{% endblock %}
    </div>

</body>


<script>
let lastState = null;

async function checkEventState() {
    try {
        const response = await fetch("/event-state");
        const data = await response.json();

        if (lastState && JSON.stringify(lastState) !== JSON.stringify(data)) {
            // If round changed
            if (data.current_round === 2 && window.location.pathname.includes("round1")) {
                window.location.href = "/dashboard";
                return;
            }

            if (data.current_round === 1 && window.location.pathname.includes("round2")) {
                window.location.href = "/dashboard";
                return;
            }

            location.reload();
        }


        lastState = data;

    } catch (err) {
        console.log("Polling error:", err);
    }
}

function toggleDetails(id) {
    const el = document.getElementById(id);
    el.classList.toggle("hidden");
}


checkEventState();  // run once immediately
setInterval(checkEventState, 5000);
</script>


</body>
</html>
